In [2]:
import pandas as pd

In [13]:
crime_df = pd.read_csv('/kaggle/input/crime-split/test_crime_df (1).csv')
crime_df.head()

,Unnamed: 0,text,metadata,domain,label
0,456,Saudi Arabia calls for emergency U.N. Council ...,"[{'article': None, 'author': None, 'date': Non...",CRIME,FAKE
1,784,Many Civilians Martyred as Terrorists Shell Al...,"[{'article': None, 'author': None, 'date': Non...",CRIME,TRUE
2,413,16 Civilians Dead in Coalition Strikes near Ra...,"[{'article': None, 'author': None, 'date': Non...",CRIME,FAKE
3,18,Syrian rebels launched a huge offensive on gov...,"[{'article': None, 'author': None, 'date': Non...",CRIME,FAKE
4,305,Last updated BEIRUT Air strikes in Syria kill...,"[{'article': None, 'author': None, 'date': Non...",CRIME,TRUE

In [6]:
health_df = pd.read_csv('/kaggle/input/health-split/test_health_df.csv')
health_df.head()

,Unnamed: 0,text,metadata,domain,label
0,2592,Docket Number: FDA-2020-D-1138 Issued by: Guid...,"[{'article': None, 'author': None, 'date': Non...",HEALTH,FAKE
1,7427,Just in | 53 more COVID-19 positive cases dete...,"[{'article': None, 'author': None, 'date': '5/...",HEALTH,TRUE
2,4737,Post: #1 Corona Virus is a Biological Weapon\n...,"[{'article': None, 'author': None, 'date': Non...",HEALTH,FAKE
3,6070,Centre issues order extending #lockdown till M...,"[{'article': None, 'author': None, 'date': '4/...",HEALTH,TRUE
4,10416,Bitcoin ads that use familiar faces to scam p...,"[{'article': None, 'author': None, 'date': '4/...",HEALTH,FAKE

In [7]:
politics_df = pd.read_csv('/kaggle/input/politics-split/test_politics_df.csv')
politics_df.head()

,Unnamed: 0,text,metadata,domain,label
0,46482,"KURT NIMMO | OCTOBER 24, 2016 \nHillary Clinto...","[{'article': None, 'author': 'stevew', 'date':...",POLITICS,FAKE
1,45913,Pginas Libres\nDirectores de BCRP ilegalmente ...,"[{'article': None, 'author': 'voltairenet.org'...",POLITICS,FAKE
2,89143,Starbucks SJWs call cops on customer for reque...,"[{'article': None, 'author': None, 'date': 'No...",POLITICS,FAKE
3,37203,.@tribelaw says Pres. Trump must be impeached:...,"[{'article': None, 'author': 'Pam Key', 'date'...",POLITICS,TRUE
4,51500,"Britain, U.S. sending planes, troops to deter ...","[{'article': None, 'author': 'Alex Ansary', 'd...",POLITICS,FAKE

In [8]:
science_df = pd.read_csv('/kaggle/input/science-split/test_science_df.csv')
science_df.head()

,Unnamed: 0,text,metadata,domain,label
0,1593,Scientists retracted claim that sea levels are...,"[{'article': 'Global warming', 'author': None,...",SCIENCE,FAKE
1,1603,(Koch Industries) is among the worst in toxic ...,"[{'article': 'Air pollution', 'author': None, ...",SCIENCE,FAKE
2,1503,As soon as renewables were introduced into the...,"[{'article': 'Electrical grid', 'author': None...",SCIENCE,FAKE
3,991,"says Sweet, who has authored several sea-level...","[{'article': 'Global warming', 'author': None,...",SCIENCE,TRUE
4,925,While many scientists have acknowledged the mi...,"[{'article': 'Global warming controversy', 'au...",SCIENCE,TRUE

In [9]:
social_df = pd.read_csv('/kaggle/input/social-split/test_social_df.csv')
social_df.head()

,Unnamed: 0,text,metadata,domain,label
0,21359,Ariana Grande discusses Manchester attack: 'It...,"[{'article': None, 'author': None, 'date': Non...",SOCIAL,TRUE
1,18558,Kim Kardashian takes kids to Disneyland with K...,"[{'article': None, 'author': None, 'date': Non...",SOCIAL,TRUE
2,22554,Stephen Colbert welcoming Sean Spicer to the E...,"[{'article': None, 'author': None, 'date': Non...",SOCIAL,TRUE
3,22329,Coco Rocha Gives Birth To Baby Number Two,"[{'article': None, 'author': None, 'date': Non...",SOCIAL,TRUE
4,15591,Khloe Kardashian Throws Epic July 4th Bash Wit...,"[{'article': None, 'author': None, 'date': Non...",SOCIAL,TRUE

In [14]:
testing_all = pd.concat([crime_df,health_df,politics_df,science_df,social_df])
testing_all.head()

,Unnamed: 0,text,metadata,domain,label
0,456,Saudi Arabia calls for emergency U.N. Council ...,"[{'article': None, 'author': None, 'date': Non...",CRIME,FAKE
1,784,Many Civilians Martyred as Terrorists Shell Al...,"[{'article': None, 'author': None, 'date': Non...",CRIME,TRUE
2,413,16 Civilians Dead in Coalition Strikes near Ra...,"[{'article': None, 'author': None, 'date': Non...",CRIME,FAKE
3,18,Syrian rebels launched a huge offensive on gov...,"[{'article': None, 'author': None, 'date': Non...",CRIME,FAKE
4,305,Last updated BEIRUT Air strikes in Syria kill...,"[{'article': None, 'author': None, 'date': Non...",CRIME,TRUE

In [16]:
testing_all.to_csv('testing_all.csv')

In [15]:
len(testing_all)

10027

In [ ]:
# Testing Datasets

In [4]:
testing1_df = pd.read_csv('/kaggle/input/testing-all/testing_all1.csv')
testing2_df = pd.read_csv('/kaggle/input/testing-all/testing_all2.csv')

In [6]:
testing1_df.head()

,Unnamed: 0,text,label,metadata,domain
0,0,Does This Video Show a Thwarted Mothers Day Ro...,0,"[{'article_category_phase1': 'Crime', 'article...",CRIME
1,1,Should You Call #77 or 112 to Contact the Poli...,1,"[{'article_category_phase1': 'Crime', 'article...",CRIME
2,2,Should You Call #77 or 112 to Contact the Poli...,1,"[{'article_category_phase1': 'Crime', 'article...",CRIME
3,3,Was a Child Named Chloe Jones Abducted by a Cr...,1,"[{'article_category_phase1': 'Crime', 'article...",CRIME
4,4,Was a Child Named Chloe Jones Abducted by a Cr...,1,"[{'article_category_phase1': 'Crime', 'article...",CRIME

In [7]:
testing2_df.head()

,Unnamed: 0,text,label,metadata,domain
0,23835,COX S BAZAR (Reuters) - Grieving Rohingya Musl...,0,NaN,SOCIAL
1,23836,DAR ES SALAAM (Reuters) - Tanzania shut down a...,0,NaN,SOCIAL
2,23837,MADRID (Reuters) - Catalonia s High Court on F...,0,NaN,SOCIAL
3,23838,"ERBIL, Iraq (Reuters) - An ban on internationa...",0,NaN,SOCIAL
4,23839,TALLINN (Reuters) - French President Emmanuel ...,0,NaN,SOCIAL

In [5]:
testing_datasets = pd.concat([testing1_df,testing2_df]) 
len(testing_datasets)

47671